/* Стилі для контейнера CurrencyConverter */
.currency-converter {
  width: 100%;
  max-width: 1366px;
  min-height: 400px;
  background-image: url('../assets/Rectangle2.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Центруємо контейнер */
  display: flex; /* Використовуємо flexbox для вирівнювання */
  flex-direction: row; /* Розміщуємо елементи горизонтально */
  justify-content: center; /* Центруємо обидва елементи по горизонталі */
  align-items: center; /* Центруємо елементи по вертикалі */
  text-align: left; /* Вирівнюємо текст ліворуч */
  gap: 5px; /* Ще більше зменшуємо відступ між текстом та зображенням */
  
}

/* Стилі для текстового блоку */
.currency-converter .converter-content {
  display: flex;
  flex-direction: column; /* Вирівнюємо елементи по вертикалі */
  justify-content: center; /* Центруємо по вертикалі */
  align-items: flex-start; /* Вирівнюємо текст ліворуч */
  flex: 1; /* Текстовий блок займає залишкову ширину */
  max-width: 50%; /* Додатково коригуємо ширину */
  margin-left: 250px; /* Відступ між текстом і зображенням */

}

/* Стилі для заголовка */
.currency-converter h2 {
  font-size: 54px;
  margin-bottom: 10px;
  color: white; /* Світлий текст для контрасту */
}

/* Стилі для тексту */
.currency-converter p {
  font-size: 16px;
  color: white; /* Світлий текст */
  margin-bottom: 20px;
}

/* Стилі для кнопки */
.currency-converter .convert-button {
  width: 234px; /* Ширина кнопки */
  height: 53px; /* Висота кнопки */
  border-radius: 4px; /* Радіус кута кнопки */
  background-color: #F6F7FF;
  color: #707C87;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Додаємо відступ зверху, щоб кнопка не прилипала до інших елементів */
}

/* Стилі для зображення */
.currency-converter .converter-image {
  display: flex;
  justify-content: center; /* Центруємо зображення по горизонталі */
  align-items: center; /* Центруємо зображення по вертикалі */
  flex: 1; /* Забезпечуємо рівномірний розподіл простору */
  max-width: 50%; /* Додатково коригуємо ширину */
}

/* Стилі для картинки */
.currency-converter .converter-image img {
  width: 320px; /* Збільшуємо трохи розмір зображення */
  height: auto; /* Автоматичне збереження пропорцій */
  border-radius: 8px; /* Радіус кута для зображення */
  margin-right: 270px; /* Відступ між текстом і зображенням */
}