/* Основні стилі футера */
.footer {
  width: 100%;
  max-width: 1366px;
  background-color: #F6F7FF !important;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Розташування колонок по центру */
  align-items: flex-start; /* Вирівнювання елементів по верху */
  text-align: left; /* Вирівнювання тексту в колонках */
  flex-wrap: wrap; /* Адаптивність */
  gap: 75px;
}

/* Оформлення колонок */
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Вирівнювання колонок по лівому краю */
  flex-grow: 1; /* Розтягування колонок по ширині */
  min-width: 200px; /* Мінімальна ширина для колонок */
  max-width: 280px; /* Максимальна ширина для колонок */
}

/* Логотип і текст в одну стрічку */
.logo-row {
  display: flex;
  align-items: center;
  gap: 12px;

}

.vector-icon {
  width: 24px;
  height: 24px;
}

.logo {
  font-size: 24px;
  color: #1F1E25;
  font-weight: bold;
}

/* Інформація поруч із логотипом */
.logo-container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  font-size: 14px;
  color: #707C87;
  margin-left: 10px;
}

/* Стилі для текстових блоків */
.column div {
  font-size: 14px;
  color: #707C87;
}

/* Послуги */
.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services ul li {
  font-size: 16px;
  color: #707C87;
  cursor: pointer;
  transition: color 0.3s ease;
}

.services ul li:hover {
  color: #2C36F2;
}

/* Колонки з підтримкою та інформацією про дзвінки */

.phone-container {
  display: flex;
  align-items: center; /* Вирівнює по центру */
}

.vector-phone {
  width: 10px; 
  height: 16px;
  margin-right: 8px; /* Відступ між іконкою та текстом */
}

.phone-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.phone {
  font-size: 18px;
  font-weight: bold;
  color: #1F1E25;
}

.support-text {
  color: #707C87;
  margin-top: 10px;
}

.column phone-info {
  color: #707C87;
}
  
.phone-two {
  color: #1F1E25;
  font-size: 20px;
  font-weight: bold;
}

.phone-row {
  display: flex;         /* Робимо рядок */
  align-items: center;   /* Вирівнюємо по вертикалі */
  gap: 10px;            /* Відступ між іконкою та номером */
}

.vector-phone2 {
  width: 16px;  /*  розмір іконки */
  height: auto;
}

.sup-text2 {
  margin-top: 4px;
}

/* Соціальні мережі в один рядок */
.socials {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

/* Стилі для іконок соціальних мереж */
.social-icon {
  width: 9px; /* Зроблено однаковим для всіх іконок */
  height: 16px; /* Іконки будуть квадратними */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.1); /* Легке збільшення при наведенні */
}
