/* Основні стилі футера */
a {
  text-decoration: none;
}

.footer {
  width: 100%;
  max-width: 1366px;
  background-color: #F6F7FF !important;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Розташування колонок по центру */
  align-items: flex-start; /* Вирівнювання елементів по верху */
  text-align: left; /* Вирівнювання тексту в колонках */
  flex-wrap: wrap; /* Адаптивність */
  gap: 65px;
}

/* Оформлення колонок */
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Вирівнювання колонок по лівому краю */
  flex-grow: 1; /* Розтягування колонок по ширині */
}

/* Логотип */
.logo {
  font-size: 23px;
  color: #1F1E25;
  font-weight: bold;
}

/* Перший стовпчик Лого */
.info {
  display: flex;
  flex-direction: column; /* Визначаємо, що елементи розташовуватимуться в стовпчик */
  align-items: flex-start; /* Вирівнюємо елементи по лівому краю */
  margin-top: 10px;
  font-size: 14px;
  color: #707C87;
  margin-left: 5px; /* Відступ з лівого боку */
  gap: 2px; /* Відстань між елементами */
}

.column.logo-container {
  display: flex;
  flex-direction: column; /* Визначаємо, що елементи будуть в стовпчик */
  align-items: flex-start; /* Вирівнюємо всі елементи по лівому краю */

}

/* Другий стовпчик Меню */
.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services ul li {
  font-size: 16px;
  color: #707C87;
  cursor: pointer;
  transition: color 0.3s ease;
}

.services ul li:hover {
  color: #2C36F2;
}


/* Третій стовпчик: Телефон для дзвінків */
.phone-container {
  display: flex;
  align-items: center; /* Вирівнює по центру */
}

.vector-phone {
  width: 10px; 
  height: 16px;
  margin-right: 20px; /* Відступ між іконкою та текстом */
}

.phone {
  font-size: 18px;
  font-weight: bold;
  color: #1F1E25;
}

.support-text {
  color: #707C87;
  margin-top: 10px;
  margin-left: 30px;

}

/* Четвертий стовпчик: Телефон для дзвінків */
.phone-info {
  color: #707C87;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
  
.phone-two {
  color: #1F1E25;
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
}

.phone-row {
  display: flex;         /* Робимо рядок */
  align-items: center;   /* Вирівнюємо по вертикалі */
  gap: 10px;            /* Відступ між іконкою та номером */
}

/*Безкоштовно для дзвінків */
.sup-text2 {
  margin-top: 4px;
  color: #707C87;
  margin-left: 45px;
}

/* в межах України */
.sup-text3 {
  margin-top: 4px;
  color: #707C87;
  margin-left: 46px;
}


/* Соціальні мережі в один рядок */
.socials {
  display: flex;
  flex-direction: row;
  width: 9px; /* Зроблено однаковим для всіх іконок */
  height: 16px; 
  transition: transform 0.3s ease;
  cursor: pointer;
  gap: 8px;
}


.social-icon:hover {
  transform: scale(1.1); /* Легке збільшення при наведенні */
}

