.logo {
    width: 23px;
    height: 23px;
    font-size: 23px;
    color: #1F1E25;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    left: 20px;
}

