/* Стилі для контейнера MasterCard */
.master {
  width: 100%;
  max-width: 1366px;
  min-height: 400px;
  background-image: url('../assets/Rectangle18.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Центруємо контейнер */
  text-align: left;
  display: flex;
  justify-content: center; /* Центруємо контент всередині */
  align-items: center; /* Вирівнюємо по вертикалі */
}

/* Контейнер для контенту, що містить і зображення, і текст */
.master .content-container {
  display: flex;
  justify-content: center; /* Центруємо контент всередині */
  align-items: center; /* Вирівнюємо по вертикалі */
  flex-direction: row; /* Розміщуємо елементи горизонтально */
  text-align: left; /* Текст вирівняний ліворуч */
}

/* Контейнер для зображення (по праву сторону) */
.master .image-container {
  margin-left: 85px; /* Відступ між зображенням і текстом */
}

.master .image-container img {
  width: 436px; /*  ширину зображення */
  height: 314px; /* Зберігаємо пропорції зображення */
  left: 679px;
  top: 611px;
  border-radius: 4px; /* Округлені кути для зображення */
}

/* Контейнер для тексту (по ліву сторону) */
.master .text-container {
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання елементів */
  justify-content: center; /* Центруємо по вертикалі */
  margin-right: 60px; /* Відступ між текстом і зображенням */
}

/* Стилі для заголовка */
.master h2 {
  font-size: 29px;
  margin-bottom: 10px;
  color: #1F1E25; /* Зробимо текст темним для контрасту */
}

/* Стилі для тексту в абзаці */
.master p {
  font-size: 16px;
  color: #707C87;
  margin-bottom: 20px;
}

/* Стилі для кнопки */
.master .master-button {
  width: 234px;
  height: 53px;
  border-radius: 4px;
  background-color: #2C36F2;
  color: #F6F7FF;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

/* Hover ефект для кнопки */
.master-button:hover {
  background-color: #2d3176;
}
